html {
    scroll-behavior: smooth;
}
header{
    display: flex;
    height: 100px;
    border-bottom: 2px solid #4a3558;
    justify-content:left;
    align-items:center;
    padding-right: 10px;
    padding-left: 10px;
}
.logo{
    display: flex;
}
.logo img{
    margin-right: 30px;
    height: 100px;    
    margin-bottom: 10px;
}
nav a{
    display:inline-flex;
    padding-right: 20px;
}
nav a:hover{
    color: #c36aff;
    transition: 1s;
}
a{
    text-decoration: none;
    font-family: Fear_bold ;
    color: #4a3558;   
    cursor: url(img/ad2.png), auto;
}
body { 
    background-color: #261b24;
    cursor: url(img/ad.png), auto;
}
.card_centrar{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 100%;
}
@media (max-width: 1900) and (min-width: 1100) {
    .card{
        max-width: 80%;
    }

    header{
        justify-content:center;
    }
}

@media (max-width: 1100) and (min-width:1001) {
    .card{
        max-width: 80%;
    }

    header{
        justify-content:center;
    }
}

@media (max-width: 1000px){
    .card_centrar{
        flex-direction: column;
        align-items: center;
    }
    .card{
        max-width: 900px;
    }

    header{
        justify-content:center;
    }
}

@media (max-width: 391px){
    nav {
        display: flex;
        flex-direction: row;
    }
    nav a{
        font-size: 13px;
    }
    .logo img{
        width: 90px;
        height: 90px;
    }
    .logo{
        width: 35%;
    }
    header {
        height: 85px;
    }
}

.card{
    display:inline-block;
    justify-content: center;
    box-shadow: 0px 0px 25px #0007;
    width: auto;
    margin: 1vw;
    transition: transform 2s;
}
.card:hover {
    transform:  scale(1.01);
}

.digitales{
    background: linear-gradient(rgba(162, 255, 108, 0), rgba(103, 184, 184, 0));
    text-align: center;
    width: auto;
    transition: background 1s, box-shadow 1s, transform 1s;
}
.digitales:hover{
    background: rgba(107, 241, 74, 0);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.753);
    transform:  scale(1.03);
}
.card_digitales_titulo{
    font-family: Future;
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-top: 60px;
}
.card_digitales_desc{
    font-family: Fear2;
    font-size: 13;
    color: rgb(255, 255, 255);
    font-weight: 100;
}
.card_digitales_img{
    width: 100%;
}

.tradicional{
    background: rgba(102, 41, 99, 0);
    text-align: center;
    width: auto;
    transition: background 1s, box-shadow 1s, transform 1s;
}
.tradicional:hover{
    background: rgba(102, 41, 99, 0);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.856);
    transform:  scale(1.03);
}
.card_tradicional_titulo{
    font-family: Fear;
    font-size: 45px;
    color: rgb(255, 255, 255);
    margin-top: 80px;
    
}
.card_tradicional_desc{
    font-family: Fear2;
    font-size: 13;
    color: aliceblue;
    font-weight: 100;
    margin-left: 5%;
    margin-right: 5%;
}
.card_tradicional_img{
    width: 100%;
}


.grabado{
    background: rgba(0, 0, 0, 0);
    text-align: center;
    width: auto;
    transition: background 1s, box-shadow 1s, transform 1s;
}
.grabado:hover{
    background: rgba(184, 207, 51, 0);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.664);
    transform:  scale(1.03);
}
.card_grabado_titulo{
    font-family: Fear;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-top: 70px;
}
.card_grabado_desc{
    font-family: Fear2;
    font-size: 13;
    color: aliceblue;
    font-weight: 100;
}
.card_grabado_img{
    width: 100%;
}

.pie-pag{
    margin-top: 2vw;
    justify-content:center;
    align-items:center;
    display: flex;
}
.pie-pag-img{
    width: 200px;
}


@font-face {
    font-family: 'Fear';
    src:url(fonts/OzsWizard-Scarecrow.ttf);
    font-weight:  900;
}
@font-face{
    font-family: 'Fear_bold';
    src: url(fonts/OzsWizard-Scarecrow.ttf);
    font-weight: 100;
}
@font-face{
    font-family: 'Fear2';
    src:url(fonts/Eczar-VariableFont_wght.ttf);
    font-weight: 100;
    font-style:normal;

}
@font-face{
    font-family: 'Future';
    src:url(fonts/FashionWacks-Regular.ttf);
    font-weight: 900;
    font-style:normal;
}