
header{
    display: flex;
    height: 100px;
    border-bottom: 2px solid #4a3558;
    justify-content:left;
    align-items:center;
    padding-right: 10px;
    padding-left: 10px;
}
.logo{
    display: flex;
}
.logo img{
    margin-right: 30px;
    height: 100px;    
    margin-bottom: 10px;
}
nav a{
    display:inline-flex;
    padding-right: 20px;
    text-decoration: none;
    font-family: Fear_bold ;
    color: #4a3558;
}
nav a:hover{
    color: #c36aff;
    transition: 1s;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.imgs{
    width: 1000px;
    border: 3px solid rgb(86, 54, 104);
    margin: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.87);
}
.imgs img{
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transform: scale(var(--zoom, 1));
    transform-origin: var(--x) var(--y);
    transition: transform 0.3s ease;
}
.imgs:hover{
    --zoom: 3;
}
.separador{
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid rgba(104, 34, 89, 0);
}

body { 
    background: linear-gradient(rgba(4, 1, 14, 0.91) 60%,
        rgb(25, 14, 31));
        background-repeat: no-repeat;
        height: 100%;
        margin: 0;
        background-attachment: fixed;
}
@font-face {
    font-family: 'Fear';
    src:url(fonts/OzsWizard-Scarecrow.ttf);
    font-weight:  900;
}
@font-face{
    font-family: 'Fear_bold';
    src: url(fonts/OzsWizard-Scarecrow.ttf);
    font-weight: 100;
}
@font-face{
    font-family: 'Fear2';
    src:url(fonts/Eczar-VariableFont_wght.ttf);
    font-weight: 100;
    font-style:normal;

}
@font-face{
    font-family: 'Future';
    src:url(fonts/FashionWacks-Regular.ttf);
    font-weight: 900;
    font-style:normal;
}

@media (max-width: 1050px){
    .box{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    
    .imgs{
        width: 800px;
        border: 3px solid rgb(86, 54, 104);
        margin: 10px;
    }
    
    .separador{
        width: 700px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 30px;
        border: 1px solid rgba(104, 34, 89, 0);
    }
}


@media (max-width: 850px){
    .box{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    
    .imgs{
        width: 700px;
        border: 3px solid rgb(86, 54, 104);
        margin: 10px;
    }
    
    .separador{
        width: 700px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 30px;
        border: 1px solid rgba(104, 34, 89, 0);
    }
}

@media (max-width: 750px){
    .box{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    
    .imgs{
        width: 600px;
        border: 3px solid rgb(86, 54, 104);
        margin: 10px;
    }
    
    .separador{
        width: 600px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 30px;
        border: 1px solid rgba(104, 34, 89, 0);
    }
}

@media (max-width: 650px){
    .box{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    
    .imgs{
        width: 500px;
        border: 3px solid rgb(86, 54, 104);
        margin: 10px;
    }
    
    .separador{
        width: 500px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 30px;
        border: 1px solid rgba(104, 34, 89, 0);
    }
}
@media (max-width: 550px){
    .box{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    
    .imgs{
        width: 400px;
        border: 3px solid rgb(86, 54, 104);
        margin: 10px;
    }
    
    .separador{
        width: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 30px;
        border: 1px solid rgba(104, 34, 89, 0);
    }
}
@media (max-width: 430px){
    .box{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    
    .imgs{
        width: 350px;
        border: 3px solid rgb(86, 54, 104);
        margin: 10px;
    }
    
    .separador{
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 30px;
        border: 1px solid rgba(104, 34, 89, 0);
    }
    nav {
        display: flex;
        flex-direction: row;
    }
    nav a{
        font-size: 13px;
    }
    .logo img{
        width: 90px;
        height: 90px;
    }
    .logo{
        width: 35%;
    }
    header {
        height: 85px;
    }
}
@media (max-width: 380px){
    .box{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    
    .imgs{
        width: 320px;
        border: 3px solid rgb(86, 54, 104);
        margin: 10px;
    }
    
    .separador{
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 30px;
        border: 1px solid rgba(104, 34, 89, 0);
    }
}
@media (max-width: 350px){
    .box{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    
    .imgs{
        width: 300px;
        border: 3px solid rgb(86, 54, 104);
        margin: 10px;
    }
    
    .separador{
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 30px;
        border: 1px solid rgba(104, 34, 89, 0);
    }
}